.parallax {
    width: 100%;
    margin: auto;
    height: 100vh;
    background: url('./assets/image/shutterstock_image.jpg') center center no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-text {
    background: #000;
  }

  .banner-title {
    color: #fff;
  }